<!DOCTYPE html>
<html>

<head>
    <title>
        Password
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#form').bind('submit', function(event) {
                event.preventDefault();

                var pass1 = $('#password1').val();
                var pass2 = $('#password2').val();

                if (pass1 != pass2) {
                    $('#errortext').text("Adgangskoder er ikke ens!");
                } else {
                    $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
                }
            });
        });
    </script>
</head>

<body>
    <h2>Du skal nu oprette et password for at komme videre.</h2>

    <form id="form" method="post" action="/create_password">
        <input id="password1" type="password" name="password1" placeholder="Indtast adgangskode her"><br>
        <input id="password2" type="password" name="password2" placeholder="Gentag adgangskode">
        <div id="errortext" style="color:red;"></div>
        <p>Husk ikke at bruge en adgangskode du bruger andre steder.</p>
        <input type="submit">
    </form>
</body>

</html>