<!DOCTYPE html>
<html>

<head>
    <title>
        Thanks
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Du klikkede på et dårligt link. Du tabte.</h1>
</body>

</html>