<!DOCTYPE html>
<html>

<head>
    <title>
        Tak
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Tak for din tilmelding, dit spil er nu gået igang.</h1>
</body>

</html>