<!DOCTYPE html>
<html>

<head>
    <title>
        Tak
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Tak fordi du vil spille. Dit spil går igang om kort tid.</h2>
</body>

</html>