<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Come over to the right side of the divide</h1>

    <form method="post" action="/start_game">
        <input type="text" name="name" placeholder="Indtast dit navn her">
        <input type="text" name="email" placeholder="Indtast din email her">
        <input type="submit">
    </form>
</body>

</html>