<body style="font-size: 1em;">
    <div id="container">
        <div id="header" style="width: 50%;">
            <img src="cid:microsoft_image" style="position: relative; vertical-align: center; top: 33.3%; height: 10vh;">
            <div style="margin-left: 1vw; height: 20vh; background-color: #5DBCD2; color: white">
                <h2>Microsoft apps og services er tilknyttet din konto</h2>
            </div>
        </div>
        <div id="body">
            <h3 style="margin-left: 1vw;">Hej {{ name }}</h3>

            <p style="margin-left: 1vw;">Du har modtager denne meddelelse, fordi vi kan se at din mail {{ email }} er bliver brugt et nyt sted.</p>
            <p style="margin-left: 1vw;">For at sikre at det er dig skal du bekræfte din adresse <a href="https://cybersecurity-vs-digitaldivide.herokuapp.com/microsoftteam_end">her</a>.</p>
            <p style="margin-left: 1vw;">Du bör kun give adgangstilladelse til apps du har tillid til. Du kan til enhver tid gennemgå eller fjerne apps, der er knyttet til din konto</p>
            <br>
            <p style="margin-left: 1vw;">Microsoft Konti-teamet</p>
            <p style="margin-left: 1vw; color: lightgrey;">Denne mail kan ikke besvares.</p>
        </div>
        <div id="footer"></div>
    </div>
</body>