<!DOCTYPE html>
<html>

<head>
    <title>
        Ups
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Ups!</h1>

    <h2>Det kan være svært at vide om den mail man modtager er fra en pålidelig kilde.</h2>
    <h2>Tjek derfor altid efter åbenlyse stavefejl eller manglende ord.</h2>

    <form method="post" action="/microsoftteam_end">
        <p>Indtast din adresse for at komme videre.</p>
        <input type="text" name="address" placeholder="Indtast adresse her">
        <input type="submit">
    </form>
</body>

</html>