<!DOCTYPE html>
<html>

<head>
    <title>
        Ups
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Ups!</h1>

    <h2>Du skal huske at tjekke om det der står i mailen er sandt. Venter du en pakke?</h2>

    <form method="post" action="/postnord_end">
        <p>Indtast dit mobil nummer for at komme videre.</p>
        <input type="text" name="mobile_number" placeholder="Indtast mobil nummer her">
        <input type="submit">
    </form>
</body>

</html>