<body style="font-size: 1em;">
    <div id="container">
        <div id="header" style="width: 50%; height: 20vh; background-color: #029ED9;">
            <img src="https://drive.google.com/file/d/14M9rm1SNGyEki36aywbkawHcvhjZmOc7/view?usp=sharing" style="position: relative; vertical-align: center; top: 33.3%;">
        </div>
        <div id="body">
            <h2 style="color: #029ED9; margin-left: 1vw;">Der er en pakke til dig</h2>

            <h3 style="margin-left: 1vw;"><b>Kære NAVN</b></h3>

            <p style="margin-left: 1vw;">Der er kommet en pakke til dig som ligger på dit nærmeste posthus.</p>
            <p style="margin-left: 1vw;">Dit pakkenummer er: 01357128520023581961</p>
            <p style="margin-left: 1vw;"><a href="https://cybersecurity-vs-digitaldivide.herokuapp.com/end_page">Her</a> kan du finde dit nærmeste posthus.</p>
            <p style="margin-left: 1vw;">Med venlig hilsen</p>
            <p style="margin-left: 1vw;">PostNord</p>
            <p style="margin-left: 1vw;">Denne e-mail er genereret automatisk og kan ikke besvares.</p>
        </div>
        <div id="footer"></div>
    </div>
</body>