<body style="font-size: 1em;">
    <div id="container">
        <div id="header" style="width: 50%; height: 20vh; background-color: #029ED9;">
            <img src="cid:postnord_image" style="position: relative; vertical-align: center; top: 33.3%;">
        </div>
        <div id="body">
            <h2 style="color: #029ED9; margin-left: 1vw;">Der er en pakke til dig</h2>

            <h3 style="margin-left: 1vw;"><b>Kære {{ name }}</b></h3>

            <p style="margin-left: 1vw;">Der er en pakke på vej til dig som bliver afleveret på dit nærmeste posthus.</p>
            <p style="margin-left: 1vw;">Dit pakkenummer er: 01357128520023581961</p>
            <p style="margin-left: 1vw;">Du kan tilmelde dig sms tjeneste <a href="localhost:3000/postnord_end">her</a> og få besked når din pakke er leveret.</p>
            <p style="margin-left: 1vw;">Med venlig hilsen</p>
            <p style="margin-left: 1vw;">PostNord</p>
            <p style="margin-left: 1vw;">Denne e-mail er genereret automatisk og kan ikke besvares.</p>
        </div>
        <div id="footer"></div>
    </div>
</body>