<!DOCTYPE html>
<html>

<head>
    <title>
        Facebook
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div style="width:100%; background-color: #4167B2">
        <img style="margin-left: 10vw;" src="/images/facebook.jpg">
    </div>

    <h2>Denne side representerer din Facebook væg.</h2>
    <h2>Du skal uploade et billede af dit kæledyr eller dit barn og skrive en kommentar.</h2>
    <p><i>Det er valgfrit at uploade et billede - det vil ikke blive gemt</i></p>

    <input type="file"><br>

    <form method="post" action="/social_media">
        <p>Her kan du vælge hvad du har uploadet et billede af. Husk at skriv navnet bagefter.</p>
        <select name="image_of">
            <option name="pet">Kæledyr</option>
            <option name="child">Barn</option>
        </select>
        <input type="text" name="name" placeholder="Skriv navnet her">
        <input type="submit">
    </form>

</body>

</html>