<!DOCTYPE html>
<html>

<head>
    <title>
        Facebook
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div style="width:100%">
        <img src="public/images/facebook.jpg">
    </div>

    <h2>Denne side representerer din Facebook væg.</h2>
    <h2>Du skal uploade et billede af dit kæledyr eller dit barn og skrive en kommentar.</h2>
    <p><i>Det er valgfrit at uploade et billede - det vil ikke blive gemt</i></p>

    <input type="file"><br>
    <p>Her kan du vælge hvad du vil uploade et billede af.</p>
    <select id="image_of" onchange="change_input()">
        <option value="pet">Mit kæledyr</option>
        <option value="child">Mit barn</option>
    </select>

    <form method="post" action="/social_media">
        <input id="pet" type="text" name="pet" placeholder="Skriv navnet på dit kæledyr her" hidden>
        <input id="child" type="text" name="child" placeholder="Skriv navnet på dit barn her" hidden>
        <input id="submit" type="submit" hidden>
    </form>


    <script>
        function change_input() {
            var e = document.getElementById("image_of");
            var value = e.options[e.selectedIndex].value;
            var child = document.getElementById("child");
            var pet = document.getElementById("pet");
            var submit = document.getElementById("submit");

            if (value == "pet") {
                child.value = "";
                child.style.visibility = "hidden";
                pet.style.visibility = "visible";
                submit.style.visibility = "visible";
            } else if (value == "child") {
                pet.value = "";
                pet.style.visibility = "hidden";
                child.style.visibility = "visible";
                submit.style.visibility = "visible";
            }
        }
    </script>
</body>

</html>