<!DOCTYPE html>
<html>

<head>
    <title>
        Tak
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Igen, mange tak for tilmeldingen til dette spil. Tryk på knappen for at komme videre.</h2>

    <form method="post" action="/tilmelding_end">
        <input type="submit">
    </form>
</body>

</html>