<body style="font-size: 1em;">
    <div id="container">
        <div id="header"></div>
        <div id="body" style="background-color:lightgreen">
            <img src="cid:sdu_image" style="height: 2vh;">
            <h2 style="margin-left: 1vw;">Tak for din tilmelding til spillet.</h2>

            <h3 style="margin-left: 1vw;"><b>Hej {{ name }} tak for din deltagelse</b></h3>

            <p style="margin-left: 1vw;">I løbet af spillet vil du få indblik i hvad man skal holde øje med når man begår sig på internettet.</p>
            <p style="margin-left: 1vw;">Alt du skal gøre nu for at komme videre, er at klikke på linket herunder</p>
            <p style="margin-left: 1vw;"><a href="https://c-vs-dd.herokuapp.com/tilmelding_end">her</a></p>
            <p style="margin-left: 1vw;">Dette er et sikkert link der blot fører dig videre i spillet.</p>
            <p style="margin-left: 1vw;">Venlig hilsen</p>
            <p style="margin-left: 1vw;">Oliver (ansvarlig for dette spil)</p>
            <p style="margin-left: 1vw;">Du bør ikke svare på denne mail.</p>
        </div>
        <div id="footer"></div>
    </div>
</body>