<!DOCTYPE html>
<html>

<head>
    <title>
        Tak
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Du har endnu ikke trykket på det sikre link.</h2>
    <h2>Du kommer videre så snart du har fundet det sikre link.</h2>
</body>

</html>