<!DOCTYPE html>
<html>

<head>
    <title>
        Ups
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Ups!</h1>

    <h2>Du skal huske at hvem du får beskeder fra. Hvis det ikke er en du kender, skal du ikke trykke på links.</h2>

    <form method="post" action="/what_happened">
        <p>Indtast din fødselsdato for at komme videre</p>
        <input type="date" name="date_of_birth" value="2019-01-01">
        <input type="submit">
    </form>
</body>

</html>